<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ecommApp</title>
</head> 

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <app-nav></app-nav>
        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle" (click)="toggleMenu()">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="user">
                    <img src="assets\unnamed (1).jpg" alt="">
                </div>
            </div>

            <!-- ======================= filtration ================== -->
            <div class="details2">
                <!-- *ngIf="validateRequest" -->
                <div class="recentOrders2">                     
                    <div class="cardHeader2">
                        <h4>(colis_livres.xlsx)</h4>
                        <input type="file" (change)="readExcel($event)">
                        <button class="btn" [routerLink]="['/app-final-verification']" [queryParams]="{ verifiedPeople: stringify(verifiedPeople), notVerifiedPeople: stringify(notVerifiedPeople) }" style="text-decoration: none;color: white;">VERIFIER</button>
                    </div>
                </div>
            </div>
            <!-- ================ Order Details List ================= -->
            <div class="details">
                <!-- *ngIf="validateRequest" -->
                <div class="recentOrders">
                    <div class="success" *ngIf="validateRequest">
                        ajouté avec succès !
                      </div>                      
                    <div class="cardHeader">
                        <h2>VERIFICATION DES COMMANDES</h2>
                        
                        <!-- <button type="submit" class="btn" style="background-color: red;">Telecharger en PDF</button> -->
                    </div>
                    <div class="search2">
                        <label>
                            <input type="number" placeholder="Chercher par Numero" [(ngModel)]="filterText">
                            <ion-icon name="search-outline"></ion-icon>
                        </label>
                    </div>
                    <div class="table-container">
                        <table   class="ss">
                            <thead>
                                <tr>
                                    <td>Expediteur</td>
                                    <td style="text-align: center;">Dropship</td>
                                    <td>Gouvernorate</td>
                                    <td>Mobile</td>
                                    <td>COD</td>
                                    <td  style="text-align: center;">Status</td>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let p of excelData"> 
                                    <td>{{p.Expiditeur}}</td>
                                    <td style="text-align: center;">{{p.Dropship}}</td>      
                                    <td>{{p.Gouvernorate}}</td>
                                    <td>{{p.Mobile}}</td>
                                    <td>{{p.COD}}</td>
                                    <td  style="text-align: center;">{{p.Status}}</td>
                                </tr>
    
                            </tbody>
                        </table>



                    <table>
                        <thead>
                            <tr>
                                <td>Article</td>
                                <td style="text-align: center;">Client</td>
                                <td>Gouvernorat</td>
                                <td>Numero</td>
                                <td>Prix</td>
                                <td  style="text-align: center;">Etat</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let p of pageSlice"> 
                                <td>{{p.nomProduit}}</td>
                                <td  style="text-align: center;">{{p.nomComplet}}</td>      
                                <td>{{p.gouvernorat}}</td>
                                <td>{{p.numeroPortable}}</td>
                                <td>{{p.prix}}</td>
                                <td  style="text-align: center;">{{p.etat}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                </div>

            </div>
        </div>
    </div>


    <!-- popup delete -->
<div class="popupDel" #popupDel>
    <div class="popup-content">
        <form>
            <h1>êtes-vous sûr de vouloir supprimer cette Ligne !</h1><br><br>
            <img src="assets\75519.png" alt="" class="close" (click)="hidePopup()">
            <a class="button22" (click)="deleteColis()">supprimer</a>
            <a class="button2" (click)="hidePopup()">annuler</a>
        </form>
    </div>
</div>




        <!-- popup update -->
        <div class="popupUpd" #popupUpd>
            <div class="popup-contentUpd">
                <form #colisUptForm="ngForm" (ngSubmit)="UpdateColis(colisUptForm.value)">
                        <h1>MODIFIER UNE LIGNE</h1><br>
                    <input name="idCreerColis" type="number" placeholder="ID" ngModel style="pointer-events: none;background-color: #f0f0f0;"><br>
                    <input name="dateCreation" type="date" placeholder="date" ngModel><br>
                    <input name="nomComplet" type="text" placeholder="Nom Client" ngModel><br>
                    <input name="adresse" type="text" placeholder="Adresse" ngModel><br>
                    <input name="numeroPortable" type="number" placeholder="Numero Portable" ngModel><br>
                    <input name="prix" type="number" placeholder="Prix" ngModel><br>
                    <input name="notes" type="text" placeholder="Notes" ngModel><br>

                    <div>
                        <label for="etat">ETAT</label>
                        <select name="etat" ngModel>
                            <option *ngFor="let s of etat" value="{{s}}">{{s}}</option>
                        </select>
                    </div>

                    <div>
                        <label for="gouvernorat">Gouvernorat</label>
                        <select name="gouvernorat" ngModel>
                            <option>-</option>
                            <option *ngFor="let g of gouvernorats">{{g}}</option>
                        </select>
                    </div>
                        
                    <div>
                        <label for="nomProduit">Produit</label>
                        <select name="nomProduit" ngModel>
                            <option>-</option>
                            <option *ngFor="let g of mySecondProd">{{g.nomArticle}}</option>
                        </select>
                    </div>

                        <img src="assets\75519.png" alt="" class="closeUpd" (click)="hidePopupUpd()">
                        
                        <button class="button2Crea" type="submit">VALIDER</button>
                        <a class="button2Upd" (click)="hidePopupUpd()">Annuler</a>
                </form>
            </div>
        </div>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>