<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ecommApp</title>
</head> 

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <app-nav></app-nav>
        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle" (click)="toggleMenu()">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="assets\unnamed (1).jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">23</div>
                        <div class="cardName">Stock</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="server-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Quantité vendu</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="bar-chart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">2</div>
                        <div class="cardName">Livreur</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="car-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">432</div>
                        <div class="cardName">Revenus 'TND'</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Statistiques</h2>
                        <button type="submit" class="btn" style="background-color: red;">Telecharger en PDF</button>
                    </div>
 
                    <table>
                        <thead>
                            <tr>
                                <td>Date d'ajout</td>
                                <td>Nom du produit</td>
                                <td>fournisseur</td>
                                <td>Quantité disponible</td>
                                <td>Prix d'achat 'TND'</td>
                                <td>Situation</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>22/05/2023</td>
                                <td>German care</td>
                                <td>frs kadhe</td>
                                <td>20</td>
                                <td>1000</td>
                                <td><span class="status pending">presque vide</span></td>
                                <td>
                                    <button type="button" class="btn">modifier</button><br>
                                    <button type="button" class="btn" (click)="showPopup()">supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <!--<div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>foulen <br> <span>India</span></h4>
                                 </td>
                        </tr>
                    </table>
                </div>-->
            </div>
        </div>
    </div>


    <!-- popup delete -->
<div class="popupDel" #popupDel>
    <div class="popup-content">
        <form>
            <h1>êtes-vous sûr de vouloir supprimer cette commande !</h1><br><br>
            <img src="assets\75519.png" alt="" class="close" (click)="hidePopup()">
            <a class="button22" (click)="deleteRequestAppoint()">supprimer</a>
            <a class="button2" (click)="hidePopup()">annuler</a>
        </form>
    </div>
</div>

    <!-- popup create -->
    <div class="popupCrea" #popupCrea>
        <div class="popup-contentCrea">
            <form>
                <h1>Ajouter commande</h1><br>
                <input type="text" placeholder="Nom de l'acheteur"><br>
                <input type="text" placeholder="Ville de l'acheteur"><br>
                <input type="nummber" placeholder="Telephone protable"><br>
                <input type="number" placeholder="Quantité acheter"><br>
                <input type="number" placeholder="Prix commande"><br>
                <label for="">Nom livreur</label>
                <select>
                    <option value="Aymen">Aymen</option>
                    <option value="droppex">droppex</option>
                </select>
                
                <label for="">Etat</label>
                <select>
                    <option value="en Cours">En cours</option>
                    <option value="livre">livré</option>
                    <option value="en Attente">En Attente</option>
                    <option value="Retour">Retour</option>
                </select>
                <img src="assets\75519.png" alt="" class="closeCrea" (click)="hidePopupCrea()">
                <br><br><br>
                <a class="button2Crea" (click)="hidePopupCrea()">Valider</a>
            </form>
        </div>
    </div>


        <!-- popup update -->
        <div class="popupUpd" #popupUpd>
            <div class="popup-contentUpd">
                <form>
                    <h1>Modifier commande</h1><br>
                    <input type="text" placeholder="Nom de l'acheteur"><br>
                    <input type="text" placeholder="Ville de l'acheteur"><br>
                    <input type="nummber" placeholder="Telephone protable"><br>
                    <input type="number" placeholder="Quantité acheter"><br>
                    <input type="number" placeholder="Prix commande"><br>
                    <label for="">Nom livreur</label>
                    <select>
                        <option value="Aymen">Aymen</option>
                        <option value="droppex">droppex</option>
                    </select>
                    
                    <label for="">Etat</label>
                    <select>
                        <option value="en Cours">En cours</option>
                        <option value="livre">livré</option>
                        <option value="en Attente">En Attente</option>
                        <option value="Retour">Retour</option>
                    </select>
                    <img src="assets\75519.png" alt="" class="closeUpd" (click)="hidePopupUpd()">
                    <br><br><br>
                    <a class="button2Upd" (click)="hidePopupUpd()">Modifier</a>
                </form>
            </div>
        </div>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>